@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@using Microsoft.AspNetCore.Components.Authorization
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />
<CascadingAuthenticationState>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
       

        <main>
            <div class="top-row px-4">
                <AuthorizeView>
                    <Authorized>
                        @code {
                            private AuthenticationState authState;
                            protected override async Task OnInitializedAsync()
                            {
                                authState = await AuthStateProvider.GetAuthenticationStateAsync();
                            }
                        }
                        <p style="color: black;">Hello, <span style="color: black;">@authState?.User?.Identity?.Name</span>!</p>

                        <a href="/logout">Logout</a>
                    </Authorized>
                    <NotAuthorized>
                        <div class="auth-links">
                            <a href="/register">Register</a>
                            <a href="/login">Login</a>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingAuthenticationState>
